.pixeles{
	background: red;
	height: 26px;
	width: 10px;
	float:left;
	margin-bottom: 5px;
}
.espacio{
	height: 40px;
}
.numero1{
	background: white;
	height: 20px;
	width: 50px;
	border:3px solid black;
	float:left;
	margin-bottom: 5px;
}
.numero2{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero3{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero4{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero5{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero6{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero7{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero8{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero9{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}
.numero10{
	background: white;
	height: 20px;
	width: 50px;
	float:left;
	border:3px solid black;
	margin-bottom: 5px;
}